.logo {
    line-height: 40px;
    padding-left: 20px;
    background-color: #001529;
    vertical-align: middle;

    i {
        svg {
            height: 35px;
            width: 35px;
            background-color: white;
        }
    }

    h1 {
        padding-top: 20px;
        color: white;
        font-size: 20px;
        display: inline-block;
    }
}